/* Write your CSS here */
.app-item-image {
  width: 40px;
}
.app-list {
  background-color: #ffffff;
  border-radius: 8px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 140px;
  width: 120px;
}
